ul{
    max-width: 800px;
    margin: 20px auto;
    padding:  20px;
    border: 1px solid;
    border-radius: 5px;
}

button{
    border-radius: 5px;
    border-color: rgb(218, 114, 195);
    background-color: rgb(226, 197, 225);
}

li{
    list-style: none;
    justify-content: flex-start;
    align-items: flex-start;
}

